<html>

<head>
  {% load static %}
<title>{% block title %}StorePet {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src=" {% static 'img\icon\logo-pet.png' %}" width="64px" height="64px" /></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/galeria">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicio">servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--contacto-->
<form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
  <div class="container" style="max-width:700px !important">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-nombres" class="form-label">NOMBRES</label>
        <input id="txt-nombres" class="form-control" placeholder="NOMBRES" />        
      </div>
      <div class="col-sm-6">
        <label for="txt-apellido-paterno" class="form-label">APELLIDO PATERNO</label>
        <input id="txt-apellido-paterno" class="form-control" placeholder="APELLIDO PATERNO" />        
      </div>   
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-apellido-materno" class="form-label">APELLIDO MATERNO</label>
        <input id="txt-apellido-materno" class="form-control" placeholder="APELLIDO MATERNO" />        
      </div> 
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-email" class="form-label">EMAIL</label>
        <input id="txt-email" class="form-control" placeholder="EMAIL" />        
      </div>       
      <div class="col-sm-6">
        <label for="txt-telefono" class="form-label">TELÉFONO</label>
        <input id="txt-telefono" class="form-control" placeholder="TELÉFONO" />        
      </div> 
    </div>    
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="txt-asunto" class="form-label">ASUNTO</label>
        <textarea id="txt-asunto" class="form-control"></textarea>
      </div> 
    </div>
    <div class="form-group row">        
        <button type="button" style="margin-top: 15px;" 
                      class=" col-sm-3 btn btn-primary"
                      onclick="enviar()">ENVIAR</button>
    </div>         
  </div>
</form>
<div id="txt-message">
</div>
 <!-- Footer -->
 <footer>
  <div class="pie-pagina">
      <div class="grupo-1">
          <div class="box">
              <figure>
                  <a href="#">
                      <img src=" {% static 'img\icon\logo-pet.png' %}">
                     </a>
              </figure>
          </div>
          <div class="box">
              <h2>SOBRE NOSOTROS</h2>
              <P>Eileen Sepúlveda Silva </P>
          </div>
         </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>StorePet</b> todos los Derechos Reservados </small>
  </div>            
</footer>

<!-- script -->
<script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>  

</body>
</html>